<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Computer Details
    include ./nav
  body
    button#computer edit
    //-TODO: get route params however it's done with pug then use to get the computer via it's id and
    //-display the details and forms to edit
    