<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Create Department
    include ./nav 
  body
    //-need route for action
    form(action="/", method="POST")
      label(for="name") Department:
      input(type="text", name="name")
      br
      button(type="submit") New Department