<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Bangazon Departments
    include ./nav
  body
    h1 Departments
    button#create new department    
    .computer#coms
      ul
        each department in departments
          -let url = `http://localhost:8080/department/` + department.id
          a(href=url) #{department.name}