<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Department Details
    include ./nav
  body

    h1 #{department.name}

      ul
        each employee in employees
          -let url = `http://localhost:8080/employees-details/` + employee.id
          a(href=url) #{employee.first_name} #{employee.last_name}
          br 