<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Employee Details
    include ./nav
  body
    //-TODO: get route params however it's done with pug then use to get the employees via it's id and
    //-display the details and forms to edit

    //- form(method="POST" action="/employees-details")
    form(method="POST" action="/employees-details:id?_method=PUT")
      label(for="first_name") Employee First Name:
      input(type="text", name="first_name")
      br
      label(for="last_name") Employee Last Name:
      input(type="text", name="last_name")
      br
      label(for="start_date") Start Date:
      input(type="date", name="start_date") 
      br
      label(for="department") Department:
      //- select(name="department")
      //-   option(value="-select-" disabled)
      //-   each department in departments
      //-   option(value=`${department}`)
      button(type="submit") Edit
    