<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Bangazon employees
  body
    include ./nav
    h1 Employees
    .employee#coms
      ul
        each employee in employees
          li #{employee.first_name} #{employee.last_name}