<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Employee Details
    include ./nav
  body
    //-TODO: get route params however it's done with pug then use to get the employees via it's id and
    //-display the details and forms to edit

    label(for="first_name") Employee First Name:
      p #{employee.first_name}
      br
      label(for="last_name") Employee Last Name:
      p #{employee.last_name}
      br
      label(for="department") Department:
      p #{employee.department}
      br    
      a(href=`/employees-edit/${employee.id}?_method=PUT`) Edit Employee